@font-face {
    font-family: 'Mulish';
    src: url('Mulish-VariableFont_wght.ttf') format('truetype'); 
}


body {
    font-family: 'NomDeLaPolice', sans-serif; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
body {
    background-color:rgb(243, 243, 187);
}
.conteneur {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

header{
    display: flex;
    background-color: rgb(47 56 2);
    flex-direction: row;
    height: 9vh;
    width: 100%;
    justify-content: space-between;
}

footer {
    background-color: rgb(47 56 2);
    height: 34vh;
    width: 100%;
}
#logo {
    font-weight: 100;
    font-size: 5vh;
    width: 40vh;
    overflow: hidden;
    color: #b9cc64;
}

#icon-image {
    height: 7vh;
    width: 7vh;
    object-fit: cover;
    position: relative;
    top: 1vh;
    left: 3vh;
}
#logo-text {
    display: inline;
    position: relative;
    left: 4vh;
    bottom: 0.5vh; 
    color: #C2D373;
    
}
#logo-text p {
    font-size: 2rem;

}
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 9vh;
}
#search-bar input{
    outline: 0;
    width: 48vh;
    height: 5vh;
    border-radius: 5vh;
    font-size: 0.8rem;
    border: none;
    text-align: center;

}
#search-bar button{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color:transparent;
    position: relative;
    top: 0.2vh;
    height: 5.4vh;
    
}

#search-image {
        width: 100%;
        height: 100%;
}
#search-image:hover{
    filter: drop-shadow(0vh 0vh 1.5vh rgb(196, 212, 186));
}
#profil {
    position: relative;
    right: 1vh;
    top: 2.2vh;
    height: 5.2vh;
    width: 5.2vh;
}
#profil button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color:transparent;
    height: 100%;
    width: 100%;
    padding: 0;
}
#profil-image {
    width: 100%;
    height: 100%;
    padding: 0;
}
#profil-image:hover {
    filter: drop-shadow(0vh 0vh 1.5vh rgb(196, 212, 186));
}
.dropdown {
    display: none;
    position: fixed;
    right: 0.7vh;
    top: 7.5vh;
    height: 14vh;
    background-color: #C2D373;
    border-radius: 10%;
    
    
}
.dropdown a {
    color: black;
    display: block;
    padding : 2vh;
    text-decoration: none;
    text-align: center;
    border-radius: 10%;

}

.dropdown a:hover {
    background-color: #9ba861;
}
#profil:hover .dropdown {
    display: block;
}
.main {
    width: 100%;
    height: 50vh;

}
.middle {

    
}