body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Mulish';
    src: url('Mulish-VariableFont_wght.ttf') format('truetype');
}
body {
    background-color:rgb(243, 243, 187);
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.slider {
    position: relative;
    top: 0;
    width: 80%;
    height: 80vh;
}
.slider img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 90% 100%;
}
.item .contenu {
    position: absolute;
    left: 0;
    color: #000000;
    width: 100%;
}
h3 {
    text-align:start;
    font-weight:bolder;
    font-size: medium;
    padding-top: 2%;

}
.conteneur-slider {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 3%;

}
.conteneur-slider button {
    position: relative;
    top: 40%;
}
.slider2 {
    height: 50vh;
    display: flex;
    flex-direction: row;

}
#tns2-ow {
    width: 70%;
}
.box {
    height: 50vh;
    border-radius: 5%;
    text-align: center;
}
.slider2 div img {
    height: 35vh;
    width: 85%;
    border-radius: 5vh;
}
.slider2 img:hover {
    filter: drop-shadow(0vh 0vh 1vh #797676);
}

.box a:hover {
    color:#000000;
}
.previous, .next {
    width: 4vh;
    height: 4vh;
    border: none;
    border-radius: 50%;
    background-color: #c2d373;
    cursor: pointer;
}
.tns-nav {
    text-align: center;
}
.tns-nav button {
    border: none;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    margin: 0.5vh;
    background-color: #c2d373;
}
.tns-nav .tns-nav-active {
    background-color: rgb(192, 186, 186);
}
.avis {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    padding-top: 3%;
}
.profil {
    height: 45vh;
    width: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    text-align: center;
}
.avis img {
    height: 15vh;
    width: 15vh;
}
.stars {
    list-style: none;
}
h3::after {
    content: "";
    width: 0%;
    height: 1vh;
    background: #c2d373;
    display: block;
    transition: 0.7s;
}
h3:hover::after {
    width: 23%;

}


